
@{
    ViewBag.Title = "UnAuthorized";
}
<div class="card">
    <div class="card-body">
        <h2>@ViewBag.Title.</h2>

        <h3>@User.Identity.Username() @ViewBag.Message</h3>


        <p>Please contact our Admin.</p>

    </div>
</div>